.tasklist {
  box-shadow: 1px 1px 3px -1px rgba(50,50,93,.25), 0 1px 3px -1px rgba(0,0,0,.3);

  &-header {
    padding: 1em 1em;
    border-bottom: 1px solid black;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em 1em;
  }
}